@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#leftSide {
    width: 220px;
    height: 649px;
    background-color: #FFFF;
    box-shadow: 5px 0px 10px #00000025;
    overflow: fixed;
}

#titleLogo {
    background-image: linear-gradient(to bottom, #FFB354,#EE7A3A);
    font-weight: 700;
    font-size: 30px;
    color: #ffff;
    padding: 15px;
}

.listText {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #725C5C;
    box-shadow: 0px 2px 1px #E7E7E7;
    padding: 5px 5px 5px 20px;

    cursor: pointer;
}

